USE [master]
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'DataBaseForLibrary')
BEGIN
    -- Đóng tất cả kết nối đang dùng CSDL này
    ALTER DATABASE [DataBaseForLibrary] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    -- Xóa CSDL
    DROP DATABASE [DataBaseForLibrary];
END
GO
CREATE DATABASE [DataBaseForLibrary]
GO
USE [DataBaseForLibrary]
GO
/****** Object:  Table [dbo].[DanhSachMuon]    Script Date: 16/11/2025 8:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMuon](
	[MaSach] [varchar](20) NOT NULL,
	[UserNameKhachHang] [varchar](20) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
	[NgayTraThucTe] [date] NULL,
 CONSTRAINT [pk_MaSach_UserNameKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[UserNameKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 16/11/2025 8:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaGD] [varchar](20) NOT NULL,
	[MaSach] [varchar](20) NOT NULL,
	[NgayGiaoDich] [date] NOT NULL,
	[HoTenNGGD] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[Tong] [decimal](8, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 16/11/2025 8:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[UserName] [varchar](20) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Pass] [varchar](60) NOT NULL,
	[Sex] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 16/11/2025 8:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [varchar](20) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[NgayNhanChuc] [date] NULL,
	[UserName] [varchar](20) NOT NULL,
	[Pass] [varchar](60) NOT NULL,
	[Sex] [nvarchar](20) NULL,
	[Admin] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 16/11/2025 8:13:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [varchar](20) NOT NULL,
	[NoiDung] [varbinary](max) NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[PhanTramGiam] [decimal](4, 2) NULL,
	[GiaGoc] [decimal](10, 2) NULL,
	[Img] [varbinary](max) NOT NULL,
	[MaNXB] [varchar](20) NOT NULL,
	[TenNXB] [nvarchar](50) NOT NULL,
	[TonKho] [int] NOT NULL,
	[DaXoa] [bit] NULL,
	[GiaHienTai]  AS (CONVERT([decimal](10,2),[GiaGoc]*((1)-[PhanTramGiam]/(100.0)))),
 CONSTRAINT [pk_MaSach_Gia] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MANV], [Ten], [NgaySinh], [DiaChi], [SDT], [NgayNhanChuc], [UserName], [Pass], [Sex], [Admin], [Email]) VALUES (N'241001025', N'Trần Thảo Vy', CAST(N'2015-08-22' AS Date), N'280 An Dương Vương TPHCM', N'0389131440', CAST(N'2025-07-16' AS Date), N'241001025', N'$2a$11$ahRf5J/TJtRU4owzjIXl1ewi.WJ1RStMWW35TyQYQbZScrMrXpjfm', N'Nữ', NULL, N'tranman22082007@gmail.com')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_User]    Script Date: 16/11/2025 8:13:18 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [unique_User] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [df_Email]  DEFAULT (N'Chưa rõ') FOR [Email]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Chưa xác đinh') FOR [Sex]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Chưa rõ') FOR [Email]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [PhanTramGiam]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [GiaGoc]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[DanhSachMuon]  WITH CHECK ADD  CONSTRAINT [fk_MaSachDSMuon] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[DanhSachMuon] CHECK CONSTRAINT [fk_MaSachDSMuon]
GO
ALTER TABLE [dbo].[DanhSachMuon]  WITH CHECK ADD  CONSTRAINT [fk_UserNameKhachHang] FOREIGN KEY([UserNameKhachHang])
REFERENCES [dbo].[KhachHang] ([UserName])
GO
ALTER TABLE [dbo].[DanhSachMuon] CHECK CONSTRAINT [fk_UserNameKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_MaSach_HoaDon] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_MaSach_HoaDon]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_Admin] FOREIGN KEY([Admin])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_Admin]
GO
